body {
    background-color: azure;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.pic-profile {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}