body {
    display: flex;
    flex-direction: column;
}

/* HEADER SETTINGS */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 24px;
}

.header ul li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}



/* INTRODUCTION CONTAINER SETTINGS*/

.container-intro {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}


.profile-pic {
    height: auto;
    width: 300px;
    border-radius: 150px;
    border: 2px solid #F9FAF8;
    filter: drop-shadow(5px 5px 10px gray)
}

.gotcha-text {
    font-size: 48px;
}




/* LANGUAGES CONTAINER SETTINGS */

.container-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages-header {
    font-size: 36px;
}

.areas-of-focus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areas-of-focus img {
    height: 100px;
    width: auto;
}